packages/server/prisma/dev.db
packages/client/public/**/*.css
packages/client/public/**/*.js

# build directory
/build
# docker-compose default data
/data

# Logs
logs
*.log
npm-debug.log*

node_modules/

# caching
*.tsbuildinfo
.eslintcache

# only ignore .env in root because Vite requires some things (check packages/admin)
/.env
.env.local
dist