packages/server/prisma/dev.db
packages/client/public/**/*.css
packages/client/public/**/*.js

# build directory
/build
# docker-compose default data
/data

# Logs
logs
*.log
npm-debug.log*

node_modules/

# caching
*.tsbuildinfo
.eslintcache

.env.local
dist