.board-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.debug-point {
  position: fixed;
  z-index: 9999;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff0000;
  opacity: 0.5;
  pointer-events: none;
  touch-action: none;
}

.board-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.no-interact {
  pointer-events: none;
}
