@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: contain;
  touch-action: none;

  background-color: #ddd !important;
}

header#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  z-index: 40;
  touch-action: none;
  pointer-events: none;

  .spacer {
    flex-grow: 1;
  }

  .box {
    padding: 10px;
    touch-action: initial;
    pointer-events: initial;
  }
}

.user-card {
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  padding: 5px 10px;

  display: flex;
  flex-direction: row;
  gap: 10px;

  &--overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;

    span:first-of-type {
      font-size: 130%;
      margin-bottom: 5px;
    }
  }

  img {
    width: 64px;
    height: 64px;

    background-color: #aaa;
    border-radius: 50%;
  }
}

#cursor {
  position: fixed;
  top: 20px;
  left: 10px;
  width: 36px;
  height: 36px;
  border: 2px solid #000;
  border-radius: 3px;

  pointer-events: none;
  will-change: transform;
  z-index: 2;
}

.toolbar-box {
  position: absolute;
  transform: translateY(-100%);
}

#canvas-meta {
  top: -10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  padding: 5px;

  display: flex;
  flex-direction: column;

  .canvas-meta--cursor-pos {
    font-style: italic;
  }
}

main {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  canvas {
    display: block;
    box-sizing: border-box;
  }
}

.pixelate {
  image-rendering: optimizeSpeed;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.btn-link {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  text-decoration: underline;

  &:active {
    opacity: 0.5;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  z-index: 9998;
  background-color: #fff;
  color: #000;
  height: 100%;

  min-width: 20rem;
  max-width: 75vw;

  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
  overflow-y: auto;

  &-right {
    right: 0;
  }

  &-left {
    left: 0;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px;

    h1,
    h2 {
      padding: 0;
      margin: 0;
      font-weight: 600;
    }
    h1 {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 1rem;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 1rem;

    > div {
      input {
        margin-right: 5px;
      }
    }
  }
}

@import "./components/Toolbar/Palette.scss";
@import "./components/Templating/Template.scss";
@import "./board.scss";
